
.bad {
	color: red;
}
.card-divider.bad-background {
	background-color: red;
}
.warn {
	color: orange;
}
.card-divider.caution-background {
	background-color: orange;
}

.card .one-two-three-background {
	background-color: #EE352E;
}
.card .four-five-six-background {
	background-color: #00933C;
}
.card .seven-background {
	background-color: #B933AD;
}
.card .a-c-e-background {
	background-color: #0039A6;
}
.card .b-d-f-m-background {
	background-color: #FF6319;
}
.card .n-q-r-w-background {
	background-color: #FCCC0A;
}
.card .g-background {
	background-color: #6CBE45;
}
.card .j-z-background {
	background-color: #996633;
}
.card .l-background {
	background-color: #A7A9AC;
}
.card .s-background {
	background-color: #808183;
}

.card .SIR-background {
	background-color: #CCCCCC;
}

.card .ribbon-container {
	/* Keep that ribbon in it's cage. */
	position: relative;
	width: 3rem;
	display: inline-block;
}
.card .ribbon {
	border: 1px dashed red;
	width: 8rem;
  background-color: red;
  position: absolute;
  top: -2.5rem;
  left: -3rem;
  text-align: center;
  line-height: 2.5rem;
  letter-spacing: 1px;
	font-size: 1.2rem;
  color: #fff;
  /* transform: rotate(-45deg); */
  -webkit-transform: rotate(-45deg);
}

.good {
	color: green;
}

.card.unplanned-incident .subtitle strong,
.card.unplanned-incident .title h3 {
	color: red;
}

.card.unplanned-incident .subtitle,
.card.unplanned-incident .title {
	background-color: #ffe2e2;
}

.card .subtitle,
.card .title h3 {
	font-size: 1.2rem;
}
.card .title h3 {
	color: #999;
	text-align: right;
	padding-right: .75rem;
}
.card .subtitle {
	display: block;
}
.card .subtitle strong{
	color: #D8D8D8;
}

.card h2 {
	font-size: 1.2rem;
	color: #8A8A8A;
	font-weight: 200;
	border-bottom: 1px solid #ddd;
	margin-top: 1.5rem;
}

.card .detail-message {
	padding-left: 2rem;
	color: #8A8A8A;
}



#app .card {
	margin: .5rem;
	border-bottom-left-radius: .5rem;
	border-bottom-right-radius: .5rem;
}

#app .card-divider {
	padding: .35rem;
}

svg path: {
	fill: inherit;
}
use.manhattan,
use.queens,
use.bronx,
use.brooklyn,
use.staten_island {
	fill: #565257;
}

use.severity-1 {
	fill: #DF5A7F;
}
use.severity-2 {
	fill: #FE9CB7;
}
use.severity-3 {
	fill: #F0855B;
}
use.severity-4 {
	fill: #FFA67E;
}
use.severity-5 {
	fill: #9C7076;
}

use.manhattan:hover,
use.queens:hover,
use.bronx:hover,
use.brooklyn:hover,
use.staten_island:hover {
	fill: #999;
}

.group-line-card {
	margin: .25rem .25rem .35rem .25rem;
	padding-bottom: .35rem;
	padding-top: .05rem;
	padding-left: .5rem;
}

.group-line-card h3 .line strong {
	margin: 0rem;
	margin-right: .5rem;
}

.group-line-card ul {
	list-style-type: none;
	padding-left: 0;
	margin: 0;
}
.group-line-card li {
	list-style-type: none;
	padding-left: 0;
}
.group-line-card li .boro{
	padding-left: .5rem;
	padding-right: .5rem;
}
.group-line-card li .boro strong,
.group-line-card .boro strong {
	font-weight: 200;
}

.group-line-card .lines {
	font-weight: 200;
	color: #777;
}

.group-line-card .boro,
.group-line-card li .boro {
	padding: 0;
}

.group-line-card .weight-1 {
	color: red;
}
.group-line-card .weight-2 {
	color: orange;
}

.group-line-card .weight-4,
.group-line-card .weight-5 {
	color: #999;
}

.group-line-card h3 {
	line-height: 1.15rem;
}
.group-line-card .line strong {
	width: 1.5rem;
	height: 1.5rem;
	margin: 0 .25rem;
	padding: .1em;
	font-size: 1.15rem;
}

.release {
	font-size: 18pt;
	color: #c8c8c8;
}
.release em{
	font-weight: medium;
}

.header,
.DateHeader {
	text-align: right;
	margin-right: 1rem;
}

.header > .Archive {
	z-index: 999;
	position: fixed;
	bottom: 0;
	right: 2rem;
	background-color: #eee;

	text-align: left;
	float: right;
	display: inline-block;
	border: 1px solid #333;
	padding-left: 1rem;
	margin-left: .5rem;
	width: 24rem;
	border-top-left-radius: .5rem;
	border-top-right-radius: .5rem;
	min-height: 5rem;
	word-wrap: normal;
	font-size: .85rem;
}
.header > .Archive > .id {
	float: right;
	margin-left: .25rem;
	font-size: 5rem;
	line-height: 5rem;
	padding: 0 .5rem;
	border-bottom-left-radius: .5rem;
	border-top-right-radius: .5rem;
	background-color: #333;
	color: #fff;
}
.header > .Archive > .id > h1 {
	font-size: 3rem;
	line-height: 3rem;
	padding: 0 .5rem;
}
.header > .Archive > .id > h2 {
	font-size: 1.5rem;
	line-height: 1.5rem;
	padding: 0 .5rem;
}
.header > .Archive > div > h4 {
	font-size: 1rem;
	line-height: 1rem;
	margin: .25rem 0 .5rem 0;
}
.header > .Archive > div > h2 {
	font-size: 3rem;
	line-height: 3rem;
	padding: 0rem;
	margin: 0rem;
}
.header > .Archive > .description {
	display: block;
	padding-bottom: .25rem;
	border: 0px;
	border-bottom: 1px;
	border-style: dashed;
	border-color: #ccc;
}


/**
 * LOGO
 */
.Logo {
	margin-bottom: 2rem;
}

.Logo h1,
.Logo h2,
.Logo h3 {
	margin: 0;
}

.Logo h1 {
	display: inline-block;
	padding-right: .5rem;
	font-size: 3rem;
	font-weight: 400;
	color: #777;
}
.Logo h2 {
	display: inline-block;
	font-size: 3rem;
	font-weight: 300;
	margin-top: -0.25rem;
	color: #999;
}
.Logo h3 {
	font-size: 1.5rem;
	font-weight: 300;
	margin-top: -0.75rem;
	color: #999;
}


/**
 * DATE / TIME HEADER
 */

.DateHeader {
	margin-bottom: 3rem;
}
.DateHeader h5 {
	margin-bottom: 0;
	font-size: 1.1rem;
	font-weight: 500;
}
.DateHeader h1 {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 2.2rem;
	font-weight: 500;
	font-size: 2.2rem;
}
.DateHeader h4 {
	font-size: 1rem;
	margin-bottom: 1rem;
}
.DateHeader h4,
.DateHeader h4 span.station {
	color: #c8c8c8;
}



/**
 * BORO SUMMARY
 */

ul.BoroSummary {
	margin-left: .25rem;
}
.BoroSummary li {
	list-style: none;
	color: #999;
}

.BoroSummary .boro strong {
		font-weight: 200;
		font-size: 1.5rem;
}

.BoroSummary .boro strong {
		font-weight: 200;
		font-size: 1.5rem;
}

.BoroSummary .stats {
	font-size: 1.5rem;
	font-weight: 200;
	color: #ccc;
}

.BoroSummary .delays {
	font-weight: bold;
	color: #F99090;
}
.BoroSummary .plannedWork {
	font-weight: bold;
	color: #F5A623;
}
.BoroSummary .line {
	font-size: .65rem;
}
.line.outline strong,
.BoroSummary .line.disabled strong{
	background-color: #FFF;
	color: #AAA;
}




span.line {
  flex-wrap: wrap;
}
span.boro {
	padding-right: .85em;
	color: #999;
}

.line {
	display: inline-block;
	max-width: 2em;
	border-radius: .5rem;
}

.line .direction {
	display: inline-block;
	font-size: .5em;
	line-height: 1em;
	clear: left;
	text-align: center;
	color: #AAA;
}

.line strong {
  background: #999;
  color: #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;;

  width: 1.5em;
  height: 1.5em;
  margin: 0 .25em;
  padding: .1em;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.line.outline strong,
.line.disabled strong {
	border: 1px solid #e0e0e0;
}
.line.disabled strong {
	background-color: #eee;
}

.route-change {
	padding: 1rem .5rem 1rem 1rem;
	border-left: 1px dashed #eee;
}
.route-change > div {
	margin-top: .25rem;
}

.station {
	color: #666;
	border-bottom: 1px solid #ddd;
}

.station-list {
	font-size: .85rem;
}
.station-list-line .station {
	margin: .3rem;
}
